<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quote List</title>
</head>
<body>

    <h1>Welcome to the Quote generator</h1>
    <!-- <a href="/quotes"> BROWSE QUOTES </a>     -->
    <a href="/quotes/new"> ADD NEW QUOTE </a>    

    <ul>
       <% quotes.forEach(quote => { %>
           <li>
               <a href="/quotes/<%= quote._id %>"><%= quote.name %></a>
               - <%= quote.price %>
           </li>
       <% }) %>
    </ul>
    <a href="/"> Back </a>  
</body>
</html>